html, body {

    background-color: white;
    height: 100%;
    margin: 5px 0 0;
    flex-direction: column;
    display: flex;
}

.contenuPrincipal {
    flex-grow: 1;

}


                                    /*FORMULAIRE D'INSCRIPTION*/
.container {

    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Taille maximale du conteneur */
    margin: auto; /* Centrer le conteneur */
    display: flex;
    flex-direction: column;
    align-items: center;

}
#formInscription {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Taille maximale du formulaire */
    margin: auto; /* Centrer le formulaire si la page a une hauteur suffisante */
}
#formInscription h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
}
#formInscription .form-group {
    margin-bottom: 15px;
}
#formInscription .form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: Roboto, sans-serif;
}
#formInscription .form-group input[type="text"],
#formInscription .form-group input[type="email"],
#formInscription .form-group input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none; /* Enlève le contour bleu lors de la sélection */
}
#formInscription .form-group2 input[type="checkbox"] {
    margin-right: 10px;
}
#formInscription .form-group2 {
    display: flex;
    font-family: Roboto, sans-serif;
}
#formInscription button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Le bouton occupe toute la largeur */
    margin-top: 10px;
    outline: none; /* Enlève le contour bleu lors de la sélection */
}
#formInscription button:hover {
    background-color: #0056b3;
}
.container .form-footer {

    font-family: Roboto, sans-serif;
    margin-top: 20px;
}
.container .form-footer a {

    color: #007bff;
    text-decoration: none;
}
.container .form-footer a:hover {

    text-decoration: underline;
}

                                /*FILTRE DE LA PAGE EVENT*/


                                /*AFFICHAGE DES EVENTS DE LA PAGE EVENT*/


/*.data-entry {
    border-bottom: 1px solid #eee;
    padding: 10px;
    background-color: white;
}
.data-value-container {
    margin-left: 20px;
    padding: 10px;
    background-color: #fff;
    border-left: 3px solid #007bff;
}
.data-sub-entry {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.data-sub-key {
    color: #555;
    margin-right: 10px;
    font-weight: bold;
}
.data-sub-value {
    color: #666;
}*/

.data-entry {
    border: 1px solid #ddd; /* Ajoute une bordure pour mieux voir le contour */
    margin: 10px;
    padding: 10px;
    width: calc(100% - 20px); /* Prend la largeur totale moins la marge */
    box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur */
}

.data-value-container {
    margin: 10px 0;
    padding: 10px;
    background-color: #f7f7f7; /* Un fond différent pour distinguer les sous-entrées */
}

.data-sub-entry {
    margin: 5px 0; /* Espacement entre les sous-entrées */
}

.data-sub-key {
    font-weight: bold; /* Met en gras les clés des données */
}

.data-sub-value {
    margin-left: 5px; /* Espacement entre la clé et la valeur */
}








