html, body {

    background-color: white;
    height: 100%;
    margin: 5px 0 0;
    flex-direction: column;
    display: flex;
}









/*barre de recherche*/

.barreRecherche {

    display: flex;
    justify-content: center;
}
input[type="text"], button {

    margin-right: 10px;
    font-family: Roboto, sans-serif;
}
input[type="text"] {

    width: 500px;
}
button {

    width: 100px;
    text-align: center;
}











/*footer*/

.listeRéseaux {

    list-style: none;
    display: flex;
    gap: 15px;
}
.listeFooter {

    font-family: Roboto, sans-serif;
    list-style: none;
    display: flex;
    gap: 30px;
}
#listeFooter1-2-3-4 {

    text-decoration: none;
    color: white;
}
footer {
    background-color: #333;
    padding: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 40px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-left: 30px;
}
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.social-icon img {
    width: 30px;
    height: auto;
    margin: 10px;
}
.footer-text {
    margin: 5px 0;
}
.nomJeu {

    height: 90px;
}









/*header*/

.hautdepage {

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.images {

    display: flex;
    align-items: center;
}
.profil {

    height: 50px;
    margin-right: 10px;
}
.logo {

    height: 60px;
    width: auto;
    margin-left: 10px;
}
.nav .liste {

    list-style: none; /* Enlève les puces de la liste */
    padding: 0; /* Enlève le padding par défaut */
    display: flex; /* Active Flexbox pour les éléments de la liste */
    gap: 20px;
}
#menu1, #menu2, #menu3, #menu4, #menu5, #menu6, #menu7 {

    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: black;
}









/*titre*/

.titre {

    object-position: center;
    display: flex;
    justify-content: center;
}
.imageTitre {

    display: block;
}




.contenuPrincipal {
    flex-grow: 1;
    /* Autres styles nécessaires */
}