

/*--------------------------------------------AFFICHAGE DES EVENTS-------------------------------------*/

.containerEvent {

    margin-top: 150px;
}

.vignetteEvent {

    min-height: 500px;
    max-height: 500px;
}

/*------------------------------------------------PAGE EVENTS------------------------------------------*/

.custom-btn-eventPage {
    background: radial-gradient(ellipse at center, #0d1d31 0%, #0c0d13 100%);
    color: #ffffff;
    border-radius: 25px;
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    padding: 10px 20px; /* Padding interne */
    font-size: 1rem;
    transition: all 0.3s;
    width: 150px;
    font-size: 0.8rem;
}

.borderPageEvent {

    border-color: #031633;
}

.ligneDesTypesDeEvents {

    margin-left: 12px;
}

.custom-btn:hover {

    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0,0,0,0.3);
}

/*-----------------------------------------------PAGE INFOS------------------------------------------------*/

.containerDesActeurs {


}

.vignetteDesActeurs {
    min-height: 300px;
    max-height: 300px;
    min-width: 300px;
    max-width: 500px;
    border-color: #0c0d13;
}


.imageDesActeurs {

    max-height: 130px;
    max-width: 130px;
}

/*--------------------------------------------AFFICHAGE DES INFOS SOLDATS-------------------------------------*/

.containerInfosSoldats {

}

.vignetteInfosSoldats {

    max-height: 500px;
    overflow-y: scroll;
}

.imagesInfosSoldats {

    max-height: 100px;
    max-width: 100px;
}

/*--------------------------------------------AFFICHAGE DES INFOS TOURS-------------------------------------*/

.containerInfosTours {


}

.vignetteInfosTours {

    max-height: 500px;
    overflow-y: scroll;
}

.imagesInfosTours {

    max-height: 100px;
    max-width: 100px;
}

/*--------------------------------------------AFFICHAGE DES INFOS PROJECTILES-------------------------------------*/

.containerInfosProjectiles {


}

.card-img-top {

    min-height: 100px;
}

.vignetteInfosProjectiles {

    max-height: 500px;
    overflow-y: scroll;
}

.imagesInfosProjectiles {

    max-height: 100px;
    max-width: 100px;
}

/*--------------------------------------------BOUTON TELECHARGEMENT ACCUEIL PAGE-------------------------------------*/

.btn-custom {
    background-color: #031633;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 9px #999;
    font-family: Avenir;
  }

.btn-custom:hover {
    background-color: #0056b3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-custom:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

/*--------------------------------------------PAGE ACCUEIL-------------------------------------*/

.containerPageAccueil {

    background-color: #031633;
    margin-top: 150px;
}

.titrePageAccueil {

    font-family: Avenir;
    color: #031633;
}

/*--------------------------------------------BODY---------------------------------------------*/


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*--------------------------------------------FOOTER---------------------------------------------*/

footer {

    background: radial-gradient(ellipse at center, #0d1d31 0%, #0c0d13 100%);
    color: white;
}

/*--------------------------------------------MAIN---------------------------------------------*/

main {

    flex: 1 0 auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

/*--------------------------------------------HEADER---------------------------------------------*/

#boutonRetour {

    top: 150px;
    left: 0;
    right: 0;
    z-index: 1029;
    width: 100%;
}

.header {

    background: radial-gradient(ellipse at center, #0d1d31 0%, #0c0d13 100%);
    z-index: 1030;
}




.offcanvas-body .list-unstyled .nav-item a:hover {
    color: #007bff; 
    text-decoration: underline; 
    
}

.custom-search-bar {
    
    height: 40px; /* Ajustez la hauteur souhaitée ici */
    
}
  

/*-----------------------------------FORMULAIRE INSCRIPTION-------------------------------------*/

.form-container {

    background-color: white;
    opacity: 10;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.formulaireConnexion {

    background: radial-gradient(ellipse at center, #0d1d31 0%, #0c0d13 100%);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-bottom: 100px;
    color: white;
}

.fieldsetPageConnexion {

    border: 1px solid black;
    padding: 10px;
    margin-bottom: 15px;
}

.listePageConnexion {

    list-style: none;
    padding: 0;
}

.l1, .l2 {

    margin-bottom: 10px;
}

.textePageConnexion {

    font-size: 25px;
    display: block;
    margin-bottom: 5px;
}

input[type="texteConnexion"], input[type="passwordConnexion"] {

    width: 100%;
    padding: 8px;
    border: 1px solid #031633;
    border-radius: 4px;
}

.boutonConnexion {

    background-color: #031633;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.signup-link {

    font-size: 25px;
    margin-top: 15px;
    text-align: center;
}

