html, body {

    background-color: antiquewhite;
    height: 100%;
    margin: 5px 0 0;
    flex-direction: column;
    display: flex;
}

.hautdepage {

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.images {

    display: flex;
    align-items: center;
}
.profil {

    height: 50px;
    margin-right: 10px;
}
.logo {

    height: 40px;
    width: 70px;
    margin-left: 10px;
}

.nav .liste {

    list-style: none; /* Enlève les puces de la liste */
    padding: 0; /* Enlève le padding par défaut */
    display: flex; /* Active Flexbox pour les éléments de la liste */
    gap: 20px;
}
#menu1, #menu2, #menu3, #menu4, #menu5, #menu6, #menu7 {

    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: black;
}

.titre {

    object-position: center;
    display: flex;
    justify-content: center;
}
.imageTitre {

    display: block;
}

.formDeRecherche {
    justify-content: center;
}
input[type="text"], button {

    margin-right: 10px;
    font-family: Roboto, sans-serif;
}
input[type="text"] {

    width: 500px;
}
button {

    width: 100px;
    text-align: center;
}
main {

    display: flex;
    justify-content: center;
    height: 50px;
    flex-grow: 1;
}

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.imageRéseau {

    height: 40px;
}
.listeRéseaux {

    list-style: none;
    display: flex;
    gap: 15px;
}
.listeFooter {

    font-family: Roboto, sans-serif;
    list-style: none;
    display: flex;
    gap: 30px;
}

#listeFooter1-2-3-4 {

    text-decoration: none;
    color: black;
}